@import url(./reset.css);
@import url(./design-system.css);



.color-section {
    display: flex;
    height: 100vh;
    width: 100%;

}

.color-section__title{
    color:bisque;

}

.color-section__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    padding: 30px 20px;
}

.color-section__title{

}

.color-section__menu{

}

.color-section__link--active{

}

.color-section__link{

}


.color-section__bar--rgb-1{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
}

.color-section__bar--rgb-2{

}