*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.main-container__right--subtitle{
    color: aqua;
}

.main-container__left{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 40px;
    width: 700px;
    height: 850px;

}

.main-container__right{
    height: 50%;
}

.main-container__right--title{
    size: 100;
    
}



