*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;

 
}

h1{
    color: bisque;
    display: inline;
}



.main-container__left{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 40px;
    width: auto;
    height: 40%;
    align-items: start;
}

.main-container__right{
    height: 50%;
}



.main-container__right--title{
    text-align: center;
}

