*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-container sup{
    font-size: 10px;
    color: blue;
}

.main-container__left{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 40px;
    width: 700px;
    height: 850px;
}

.main-container__left img{
    width: 600px; 
    height: 850px;
}

.main-container__right{
    width: 100vw; 
    height: 850px;
    margin-right: 30px;
    margin: 20px;    
    background-color: antiquewhite;

}

.main-container__right--title{
    size: 200;
    margin-top: 70px;
}

.main-container__right--subtitle{
    color: aqua;
    margin-top: 5px;
    margin-bottom: 30px;
}

.main-container__right--batery{
    display: flex;
    height: 150px;
    align-items: center;
    gap: 20px;
}





