:root{
    --bg-card: #a1a1a1;
    --bg-image: #5d5d5d;
    --color-description: #555;
    --color-button: #333;
    --color-border-button: #777;
    --bg-color-houver: #555;
    --color-houver: white;

}

